/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 лист. 2014, 8:33:24
    Author     : dobro
*/


.tipy{
     overflow-x: auto;
     white-space:nowrap;
}
.tipcontainer{
    white-space:auto;
    height:93%;
}
@media screen and (min-width : 981px) and (max-width : 1024px){
    .tipcontainer{
        width:16.66%;
    }
    .produkt_block{
        width:16.66%;
    }
}

@media screen and (min-width : 800px) and (max-width : 980px){
    body{
        font-size:10pt;
    }
    .tipcontainer{
        width:24.9%;
    }
    .produkt_block{
        width:24.9%;
    }
    #gotCache {
       width: 34px;
    }
    .cash h5, .card h5{
        font-size:10pt;
    }
    .stroka_zakaza .nazvanie{
        width:40%;
    }
    .calcRow{
        margin-left: 80px;
    }
    .raschet h4{
        font-size:10pt;
    }
    .col1{
        width:80px;
    }
    .discounts h4,
    .itogo h4{
        font-size:10pt;
    }
    .customer h4{
        font-size:10pt;
    }
    .clientTelBtn{
        padding-top:10px;
    }

}


@media screen and (min-width : 640px) and (max-width : 799px){
    body{
        font-size:10pt;
    }
    .tipcontainer{
        width:24.9%;
    }
    .produkt_block{
        width:24.9%;
    }
    #gotCache {
       width: 34px;
    }
    .cash h5, .card h5{
        font-size:10pt;
    }
    .stroka_zakaza .nazvanie{
        width:40%;
    }
    .calcRow{
        margin-left: 5px;
    }
    .calcFirstRow {
      margin-top: 3px;
    }
    .raschet h4{
        font-size:10pt;
        display:none;
    }
    .col1{
        width:80px;
    }
    
    .discounts h4,
    .itogo h4{
        font-size:10pt;
    }
    .customer h4{
        font-size:10pt;
    }
    .clientTelBtn{
        padding-top:10px;
    }
    
    .bordercolumn{
        width:6%;
    }
    .tovary,
    .tipy{
        width:94%;
    }
    
}








@media screen and (min-width : 590px) and (max-width : 639px){
    body{
        font-size:10pt;
    }
    
    .leftcolumn{
        width:60%;
    }
    .rightcolumn{
        width:40%;
    }
    .tipcontainer{
        width:49.9%;
    }
    .produkt_block{
        width:49.9%;
    }
    #gotCache {
       width: 50px;
    }
    .cash h5, .card h5{
        font-size:10pt;
    }
    .stroka_zakaza .nazvanie{
        width:37%;
    }
    .stroka_zakaza .cena{
        width:23%;
    }
    .calcRow{
        margin-left: 5px;
    }
    .calcFirstRow {
      margin-top: 3px;
    }
    .raschet h4{
        font-size:10pt;
        display:none;
    }
    .col1{
        width:80px;
    }
    
    .discounts h4,
    .itogo h4{
        font-size:10pt;
    }
    .customer h4{
        font-size:10pt;
    }
    .clientTelBtn{
        padding-top:10px;
    }
    
    .bordercolumn{
        width:7%;
    }
    .tovary,
    .tipy{
        width:93%;
    }
    
    #todayOrdersTxt{
        display:none;
    }
    #todayOrdersSumTxt{
        display:none;
    }
}



@media screen and (max-height : 600px){
    .card,
    .cash{
        background-image:none;
    }
    .cash h5, .card h5{
        margin-top:4px;
    }
    .calcCell{
        line-height:100%;
    }
    .raschet h4{
        margin-top:1px;
    }
    .new{
        width:25px;
        background-size: 20px 20px;
        top:1px;
    }    
    .zakaz h2{
        padding:5px 0;
    }
    .customer h4,
    .discounts h4,
    .itogo h4{
        font-size:10pt;
    }
    .itogo h4{
        margin:0px;
    }
    #calcRow{
        display:none;
    }
    .raschet h4{
        display:none;
    }
    .calcRow {
      margin-left: 10px;
    }
    .clientTelBtn{
        border-radius: 10px;
        width:20px;
        height:20px;
        right: 5px;
    }
}
